body {
    background-color: lightgreen;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalControls {
    display: flex;
    flex-direction: column;
}

#verticalControls button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#mainCanvas {
    background-color: #1f1f1f;
}